@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.review {
  background-color: $reviewgrey;
  box-shadow: 4px 4px 5px 0px rgba(0, 21, 4, 0.534);
  margin: 1rem .5rem;
  padding: 0.5rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
  }
}
