@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.scroll {
  background-color: white;
  margin: 1rem;
  box-shadow: 4px 4px 5px 0px rgba(0, 21, 4, 0.534);
  padding: 0.5rem;

  @include tablet {
    margin: 0.5rem 3rem;
    padding: 0.5rem 1rem;
  }

  @include desktop {
    width: 72rem;
    margin: 1rem auto;
  }
}
