@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  background-color: $darkgreen;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    @include tablet {
      padding: 0.5rem $tabletMargin;
    }

    @include desktop {
      max-width: $maxWidth;
      margin: 0 auto;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
  }
  &__logoimg {
    width: 2rem;
  }

  &__name {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    background-color: $green;
    padding: 0.5rem;
    border-radius: 10px;
  }

  &__log-out {
    color: white;
    background-color: $green;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 0.5rem;
  }
}
