.borrowed {
  &__title {
    color: white;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
  }
}
