@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  background-color: $darkgrey;
  padding: 0.5rem 1rem;

  &__all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
  }

  &__allTitle {
    color: white;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
    margin: 0 0 1rem 0;
  }
}
